@font-face {
  font-family: clash-semibold;
  src: url(/src/fonts/ClashDisplay-Semibold.otf);
}
body{
  background-color: white;
}

*{
  line-height: normal;
}
.clash-semibold{
  font-family: clash-semibold;
}
.hamburger{
  width: 24px;
  height: 24px;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
  width: 24px;
  height: 2px;
  background-color: #595959;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-top{
  width: 18px;
  left: 3px;
}
.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
transform: translateY(14px);
width: 18px;
  left: 3px;
}
.open {
transform: rotate(90deg);
transform: translateY(0px);
}

.open .hamburger-top {
transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
display: none;
}

.open .hamburger-bottom {
transform: rotate(-45deg) translateY(6px) translate(-6px);
}
/* NEW STYLING */
.hero-images-cont{
  display: flex;
  gap: 0;
  position: relative;
  margin-bottom: 8vh;
}
.hero-images-cont img{
  width: 53%;
}
.student-img{
  position: absolute;
  right: 0;
  bottom: -25%;
  z-index: -1;
}
.mobile-spiral{
  position: absolute;
  right: 0;
  width: 40% !important;
  z-index: -1;
  top: -60%;
}
.green-abs{
  border-radius: 3.289px;
  border: 0.822px solid var(--accentsuccess-success-70, #393);
  background: rgba(34, 188, 238, 0.08);
  backdrop-filter: blur(3.1560351848602295px);
  color: #3E3E3E;
  font-family: Plus Jakarta Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 14.8px 27.133px 14.8px 8.222px;
  width: max-content;
  position: absolute;
  height: max-content;
  z-index: 2;
  top: -15%;
  right: 15%;
}
.blue-abs{
  border-radius: 3.289px;
  background: #001B6B;
  position: absolute;
  display: inline-flex;
height: 41.111px;
padding: 8.222px 16.444px 8.222px 12.331px;
align-items: center;
gap: 49.333px;
flex-shrink: 0;
color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
width: max-content;
right: 2%;
}
.partners{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.meet-partners{
  border: 0.5px solid #FFF;
  height: 100%;
  display: flex;
  align-items: center;
  padding:0 1rem;
}
.speakers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
  padding-top: 10px;
}
.speaker{
  position: relative;
  border-radius: 5vw;
  overflow: hidden;
  aspect-ratio: 150/258;
}
.speaker img{
  height: 100%;
  width: 100%;
}
.profile{
  position: absolute;
  z-index: 2;
  bottom: 10%;
  width: 100%;
}
@media screen and (min-width:768px){
  
}


@tailwind base;
@tailwind components;
@tailwind utilities;


