@font-face{
  font-family: benzin-bold;
  src: url(/src/fonts/benzin-bold.ttf);
}
@font-face{
  font-family: benzin-regular;
  src: url(/src/fonts/benzin-regular.ttf);
}
@font-face{
  font-family: benzin-medium;
  src: url(/src/fonts/benzin-medium.ttf);
}

.benzin-bold{
  font-family: benzin-bold;
}
.benzin-regular{
  font-family: benzin-regular;
}
.benzin-medium{
  font-family: benzin-medium;
}

.hero{
  background: #002478 url(/src/assets/hero-mobile-bg-image.png) left center no-repeat;
}

.hamburger{
  width: 24px;
  height: 24px;
  transition: all 0.5s;
  position: relative;
  cursor: pointer;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom{
  width: 24px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
transform: translateY(14px);
}

.open {
transform: rotate(90deg);
transform: translateY(0px);
}

.open .hamburger-top {
transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
display: none;
}

.open .hamburger-bottom {
transform: rotate(-45deg) translateY(6px) translate(-6px);
}


@media screen and (min-width:768px){
  .hero{
    background:#002478 url(/src/assets/desktop-hero-bg.png) left center no-repeat;
  }
  .about{
    background: #E6F3FF url(/src/assets//about-desktop.png) 90% center no-repeat;
    background-size: 28%;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;


